@model IEnumerable<ClientModel>
@{
    ViewData["Title"]="Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class ="text-primary">Клиенты</h2>
        </div>
        <div class="col-6 text-end" >
            <a asp-controller="Client" asp-action="Creite" class="btn btn-primary">
               <i class="bi bi-bag-plus"></i> &nbsp; Создание клиента
            </a>
        </div>
    </div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                ИНН
            </th>
            <th>
                Наименование
            </th>
            <th>
                Тип
            </th>
            <th>
                Дата добавления
            </th>
            <th>
                Дата обновления
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="20%">
                    @obj.Inn
                </td>
                <td width="20%">
                    @obj.Name
                </td>
                <td width="20%">
                    @obj.Type
                </td>
                <td width="20%">
                    @obj.AddDate
                </td>
                <td width="20%">
                    @obj.UpdateDate
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
